/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.06.2018, 12:56:57
    Author     : Worker
*/

html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 150px; }  /* must be same height as the footer */
#footer { 
    font-size: 12pt;
    color:#ffffff;
    padding: 30px;
    background-color: #999999;
} 
/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
body{
    background-image: url(fon2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}*/



html{
    font-size: 16pt;
    font-family:sans-serif;
}
.background{
    background-color: #c6c6c6;
}

.flex{
    display:flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.cross-center{
    align-items: center;
}
.left{
    justify-content:flex-start;
}
.right{
    justify-content:flex-end;
}

.grey-border-radius{
    border-bottom:1px solid #999999;
    box-shadow:#999999;
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
}

.hover{
    cursor: pointer;
}

.top-panel{
    height: auto;
    background-color: #ffffff;
}
.logo{
    background-image: url(logo_kibernetika.png);
    background-repeat: no-repeat;
    width: 40vw;
    height: 20vh;
    background-size: cover;
    margin-bottom: 30px;
}


body{
    margin: 0px 0px 0px 0px;
}
footer{
    position: absolute;
    bottom: 0px;
    height: 200px;
    background-color: #c6c6c6;  
}

input,select{
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

#loginform-background{
    width:100%;
    height: 100%;
}
#loginform{
    width: auto;
    height: 20vh;
    background-color: #999999;
    padding: 10px;
    margin-top: 30vh;
}

.page-top-block{
    margin-top:10px;
    margin-bottom: 10px;
    height: 10vh;
    color:#ffffff;
    font-size: 21pt;
    background-color: #2a9acc;
}
/*
#admin-panel-top{
    background-color:#ff0000;
}
#curator-panel-top{
    background-color: #cc00cc;
}
#teacher-panel-top{
    background-color:#0287D0;
}
#student-panel-top{
    background-color: #cccccc;
}*/
.menu-block{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}
.menu-block > div{
    padding: 5px 20px 5px 20px;
    background-color: #2a9acc;
    color:#ffffff;
    border: 1px solid #2a9acc;
    height: 5vh;
    width: 100%;
    margin: 0px 2px 0px 2px;
    text-align: center;
}
.menu-block > div:hover{
    background-color: #ffffff;
    color:#2a9acc;             
}

.menu-block > div:first-child{
    margin-left: 0px;
}
.menu-block > div:last-child{
    margin-right: 0px;
}

#user-info-block{
    margin-left: 3vw;
    margin-top:40px;
}

#list-of-users,#list-of-courses,.download-block{
    width: 42vw;
    margin-left: 5vw;
    padding-right: 2vw;
    border-right: 1px solid #c6c6c6;
    margin-bottom: 5vh;
}
#list-of-courses-student{
    width:20vw;
    margin-left: 5vw;
}
.list-table{
    width: 100%;
}
.table-student-result td{
    width:33%;
    padding: 5px;
}
.list-table tr td:nth-child(1),.list-table tr td:nth-child(2){
    width:5%;
}
.list-table tr td:nth-child(3),.list-table tr td:nth-child(4),.list-table tr td:nth-child(5){
    width: 15%;
}
.list-table tr td:last-child{
    width: 100%;
}
.list-table tr:first-child{
    background-color: #c6c6c6;
}

.list-table tr:hover{
    border-bottom: 1px solid #2a9acc;
}
.list-table tr:first-child:hover{
    border-bottom: 3px solid #2a9acc;
}

#curator-extended-block,#course-extended-block,#test-extended-block{
    margin-left: 3vw;
    width: 45%;
}

#create-user-form{
    
}

.left-sidebar{
    margin-left: 5vw;
    width:20vw;
}
#courses-text-block{
    width:70vw;
    padding: 30px;
    min-height: 70vh;
}
.courses-left-sidebar-name,.tests-left-sidebar-name{
    background-color: #c6c6c6;
    padding: 5px;
}
.lessons-left-sidebar,.questions-left-sidebar{
    margin-left: 2vw;
}

.question-text,.variant-text{
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border:2px solid #999999;
}
.variant-text{
    margin-left: 5vw;
    cursor: pointer;
}
.variant-text-right{
    background-color: #999999;
    color:#ffffff;
}

button,.button{
    color:#ffffff;
    background-color: #2a9acc;
    border: 2px solid #ffffff;
    font-size: 16pt;
    padding: 5px 10px 5px 10px;
    max-width: 300px;
}
button,.button:hover{
    color:#999999;
    background-color: #ffffff;
    border:2px solid #999999;
    cursor: pointer;
}
.button:disabled{
    color:#cecece;
    background-color: #ffffff;
    border:2px solid #cecece;
}
.button-exit{
    position: relative;
    right: -32vw;
    top:-1vh;
    /*right:calc(5vw + 15px);*/
    border: none;
    height: 32px;
    width: 100px;
    font-size: 14pt;
    cursor: pointer;
}
.button-login{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 2vh;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.course-name-stud{
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 18pt;
    font-weight: 700;
}
.lesson-name-stud{
    font-size:14pt;
    margin-left:10px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
}
.lesson-name-stud:hover{
    border-bottom: 1px solid #2a9acc;
}

.unlearned{
    color:#c6c6c6;
    cursor: not-allowed;
}

.fixed-buttons-stud{
    position: fixed;
    bottom: 20px;
    left:4vw;
}

#stub{
    width:100%;
    height:100%;
    background-color: #ffffff;
    position: fixed;
}
.download-block{
    background-image: url(download.gif);
    background-repeat:no-repeat;
    height: 360px;
}

#test-active,#result{
    font-size: 16pt;
    width:50vw;
}
#result{
    font-size: 24pt;
}
.test-success,.test-fail{
    width: 600px;
    height: 600px;
    background-repeat:no-repeat;
    background-size: cover;
}
.test-success{
    background-image: url(success.png);
}
.test-fail{
    background-image: url(failed.jpg);
}
#test-question-name{
    border: 2px solid #c6c6c6;
    border-radius: 3px;
    width:100%;
}
#test-question{
    background-color: #ffffff;
    border-radius: 3px;
    margin: 2vw;
    font-size: 18pt;
}
#question-block,.variant-block{
    border:2px solid #999999;
    border-radius: 3px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.variant-block{
    cursor: pointer;
}
.variant-block:hover{
    background-color: #999999;
    color:#ffffff;
}
#test-settings{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#question-number,#timeout{
    background-color: #999999;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]+label span{
    display: inline-block;
    width: 15px;
    margin-right: 15px;
    height: 15px;
    vertical-align: middle;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 3px;
}
input[type="checkbox"]:checked+label span{
    display:inline-block;
    width:15px;
    margin-right: 10px;
    height:15px;
    vertical-align:middle;
    border: 2px solid green;
    cursor:pointer;
    border-radius: 3px;
}
input[type="checkbox"]:checked + label::before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: green;
    text-align: center;
    line-height: 15px;
    margin-right: -15px;
}
input[type="checkbox"] + label {
    margin-right: -15px;
}
.activepage{
    color: #ffffff;
    background-color: #999999;
}

.search-icon{
    background-image: url(seek.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}

#result-back{
    position:fixed;
    background-color: #000000;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    top:0px;
}
#detailed-result{
    position: fixed;
    overflow-y: scroll;
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    top:10%;
    margin-left: 10vw;
}

.detailed-result-block{
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid black;
}

.table-detailed-result-test tr td:first-child{
    background-color: #f3f3f3;
    padding: 0px 10px 0px 10px;
}
.table-detailed-result-test tr td:last-child{
    padding-left:10px;
}
.answer-right{
    background-color:#a8dda8;
}
.answer-false{
    background-color: #f2957d;
}


