<div>
    <div class="top-panel flex center">
        <div class="logo"></div>
    </div>
    
    <div class="menu-block flex row space-between">
        <div class="flex column center cross-center hover" ng-click="showWelcomePage()">
            <div class="hover">Главная</div>
        </div>
        <div class="flex column center cross-center hover"  ng-click="showProjectPage()">
            <div class="hover">Наши проекты</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showAttendancePage()">
            <div class="hover">Наши услуги</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showTeamPage()">
            <div class="hover">Команда</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showProbationPage()">
            <div class="hover">Стажировка</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showEducationalPage()">
            <div class="hover">Образовательная деятельность</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showContactsPage()">
            <div class="hover">Контакты</div>
        </div>
        <div class="flex column center cross-center hover" ng-click="showLoggedForm()">
            <div class="hover">Вход</div>
        </div>
    </div>
    
    <div style="width: 100%;border-bottom: 5px solid #c6c6c6;"></div>   
</div>