<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    
    <div class="flex row" style="margin:20px 0px 20px 0px">
        <div>Куратор:</div>
        <div style="margin-left:10px">{{(users | UserFilter:'id':$parent.currentUser.curator)[0].login}}</div>
    </div>
    
    <table class="list-table table-student-result">
        <tr>
            <td>Курс</td>
            <td>Преподаватели</td>
            <td>Последний результат</td>
            <td></td>
        </tr>
        <tr ng-repeat="course in courses | CourseFilter:'ids':$parent.currentUser.courses">
            <td ng-bind="course.name"></td>
            <td>
                <div ng-repeat="teacher in ((users | UserFilter:'ids':$parent.currentUser.teachers) | TeacherHaveCourseFilter:course.id)">{{teacher.login}}</div>
            </td>
            <td ng-bind="$parent.currentUser.results[$index]"></td>
            <td><button class="button" ng-click="showDetailedResults($parent.currentUser,course)">Результаты</button></td>
        </tr>
    </table>
    
</div>
