<div ng-controller="PageController">
    
        <div class="top-panel flex center">
            <div class="logo"></div>
        </div>
    
        <div id="student-panel-top" class="page-top-block flex row center cross-center">
            <div>Панель студента</div>
            <button class="button-exit" ng-show="loggedUser.ulog" ng-click="logOut()">Выход</button>
        </div>
        
    <div class="flex row space-around" ng-controller="StudentPageController">
        
        <div id="list-of-courses-student" ng-cloak>
            <div style="color: #2a9acc;margin-bottom: 15px;font-size: 20pt;">Назначенные курсы:</div>
            <div>
                <div ng-repeat="course in $parent.courses">
                    <div ng-bind="course.name" class="course-name-stud hover" ng-click="getCourseInfo(course.id,true);"></div>
                    <div ng-class="{true:'unlearned',false:''}[$index>currentStudent.data.lessons_learned]" ng-repeat="lesson in course.lessons" ng-bind="lesson.name" class="lesson-name-stud hover slideInLeft" ng-click="getLessonInfo(course.id,lesson.id,$index);"></div>
                    <hr>
                    <button class="button" ng-click="getActiveTest(course)" ng-show="course.lessons.length<=currentStudent.data.lessons_learned+1 && !$parent.testactive" ng-disabled="isDisabled(course)">Пройти тест</button>
                </div>
            </div>            
        </div>

        <div id="courses-text-block" class="flex row" ng-show="!$parent.testactive && !showresult">

            <div ng-show="textOpen==='Course'">
                <div ng-bind-html="currentCourse.data.description.text | trusted"></div>
            </div>

            <div ng-show="textOpen==='Lesson'">
                <div ng-bind-html="currentLesson.data.text | trusted"></div>
            </div>

        </div>
        
        
        <div class="fixed-buttons-stud" ng-show="textOpen==='Lesson' && !$parent.testactive">
            <button class="button" ng-click="lastLesson();">Предыдущий урок</button>
            <button class="button" ng-click="nextLesson();">Следующий урок</button>
        </div>

        <testing-page ng-show="$parent.testactive && !showresult"></testing-page>
        
        <div class="flex column" ng-show="showresult">
            <div class="test-success" ng-show="result.score>=result.threshold"></div>
            <div class="test-fail" ng-show="result.score<result.threshold"></div>
            <div id="result">Ваш результат: {{result.score}} из {{result.all}} при пороге прохождения {{result.threshold}}</div>
        </div>
        
    </div>
</div>