<div id="teacher-extended-block">
    
    <div>       
        <div>Закрепленные курсы:</div>
        <div ng-show="currentUser.teach_courses.length>0">
            <table class="list-table">
                <tr>
                    <td>№</td>
                    <td>ID</td>
                    <td>Название</td>
                    <td></td>
                </tr>
                <tr ng-repeat="course in (courses | CourseFilter:'ids':currentUser.teach_courses)" class="hover">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="course.id"></td>
                    <td ng-bind="course.name"></td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div>Закрепленные cтуденты:</div>
        <div ng-show="(users | UserFilter:'ids':currentUser.teach_students).length>0">
            <table class="list-users-table">
                <tr>
                    <td>№</td>
                    <td>ID</td>
                    <td>Логин</td>
                </tr>
                <tr ng-repeat="student in (users | UserFilter:'ids':currentUser.teach_students)" class="hover">
                    <td ng-bind="$index+1" ng-click="selectUser(student.id)"></td>
                    <td ng-bind="student.id" ng-click="selectUser(student.id)"></td>
                    <td ng-bind="student.login" ng-click="selectUser(student.id)"></td>
                </tr>
            </table>
        </div>
    </div>

</div>
