<div id="test-extended-block" class="flex column" ng-show="currentTest.data!==undefined">
            
    <table>
        <tr>
            <td><div ng-show="editTestName===false" id="test-name-block" ng-bind="currentTest.data.name"></div></td>
            <td>
                <input ng-show="editTestName===true" ng-model="currentTest.data.name">
                <button ng-show="editTestName===false" class="button" ng-click="editTestName=!editTestName;">Изменить название</button>
                <button ng-show="editTestName===true" class="button" ng-click="changeTestName();editTestName=!editTestName;">Сохранить</button>
                <button class="button" ng-click="deleteTest();">Удалить тест</button>
            </td>
        </tr>
    </table>
    
    <hr>
    
    <table>
        <tr><td>Закреплен за:</td>
            <td>
                <select ng-model="currentTest.data.curator_id" ng-options="user.id as user.login for user in users | UserFilter:'curator'"></select>
            </td>
        </tr>
        <tr><td>Выбор курсов:</td>
            <td>
                <select ng-model="currentTest.data.for_course_id" ng-options="course.id as course.name for course in courses | CourseFilter:'ids':(users | UserFilter:'id':currentTest.data.curator_id)[0].cur_courses"></select>
            </td>
        </tr>
        <tr><td>Тест активен:</td><td style="display: flex;justify-content: center;"><input intbooleanvalidation type="checkbox" ng-model="currentTest.data.active" id="b1"/><label for="b1"><span></span></label></td></tr>
        <tr><td>Перемешивать вопросы:</td><td style="display: flex;justify-content: center;"><input intbooleanvalidation type="checkbox" ng-model="currentTest.data.mix_q" id="b2"/><label for="b2"><span></span></label></td></tr>
        <tr><td>Перемешивать варианты ответов:</td><td style="display: flex;justify-content: center;"><input intbooleanvalidation type="checkbox" ng-model="currentTest.data.mix_var" id="b3"/><label for="b3"><span></span></label></td></tr>
        <tr><td>Разрешить перезапуск теста:</td><td style="display: flex;justify-content: center;"><input intbooleanvalidation type="checkbox" ng-model="currentTest.data.reload" id="b4"/><label for="b4"><span></span></label></td></tr>
        <tr><td>Разрешить пропуск вопросов:</td><td style="display: flex;justify-content: center;"><input intbooleanvalidation type="checkbox" ng-model="currentTest.data.can_pass" id="b5"/><label for="b5"><span></span></label></td></tr>
        <tr><td>Лимит попыток(0-разрешить перезапуск всегда)</td><td><input type="text" ng-model="currentTest.data.reload_try"><label><span></span></label></td></tr>
        <tr><td>Выводить </td><td><input type="text" ng-model="currentTest.data.display_q"></td><td> вопросов</td></tr>
        <tr><td>Порог прохождения </td><td><input type="text" ng-model="currentTest.data.threshold"></td><td> вопросов</td></tr>
        <tr><td>Время на прохождение </td><td><input type="text" ng-model="currentTest.data.minute_on_pass"></td><td> минут</td></tr>
    </table>
    <button class="button button-fixed-width" ng-click="changeTestSettings()">Сохранить настройки</button>
    
    <div ng-show="currentQuestion.data!==undefined" class="flex column">
        <div class="question-text" ng-bind-html="currentQuestion.data.text"></div>
        <div class="flex row right">
            <button class="button" ng-show="editableTextAreaQ.value===false" ng-click="setEditableArea(currentQuestion.data.text,'question',editableTextAreaQ)">Редактировать</button>
            <button class="button" ng-click="deleteQuestion(currentQuestion.data);">Удалить вопрос</button>
        </div>
        <textarea ng-show="editableTextAreaQ.value===true" id="input-question" name="input-question"></textarea>
        <button class="button" ng-show="editableTextAreaQ.value===true" ng-click="saveChanges(currentQuestion.data.id_text,currentQuestion.data.text,'question',editableTextAreaQ);reloadTest();">Сохранить</button>        
        <div ng-repeat="variant in currentQuestion.data.variants">
            <div class="variant-text" ng-class="{true:'variant-text-right',false:''}[variant.isright==='1']" ng-bind-html="variant.text" ng-click="changeIsRight(variant.id)"></div>
            <div class="flex row right">
                <button class="button" ng-show="editableTextAreaV.value===false" ng-click="saveVariantTmpData(variant.id_text,variant.text);setEditableArea(savedVariant.text,'variant',editableTextAreaV)">Редактировать</button>            
                <button class="button" ng-click="deleteVariant(variant.id);reloadTest();">Удалить вариант</button>
            </div>
        </div>
        <textarea ng-show="editableTextAreaV.value===true" id="input-variant" name="input-variant"></textarea>
        <button class="button" ng-show="editableTextAreaV.value===true" ng-click="saveChanges(savedVariant.id_text,savedVariant.text,'variant',editableTextAreaV);reloadTest();">Сохранить</button>
        <button class="button" ng-click="addVariant();reloadTest();">Добавить вариант</button>
    </div>
</div>
