<div class="flex column center">
    
    <div class="top-panel flex center">
        <div class="logo"></div>
    </div>
    
    <div class="menu-block flex row space-between">
        <div class="flex column center cross-center hover">
            <div class="hover">Главная</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Наши проекты</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Наши услуги</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Команда</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Стажировка</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Обучение</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Контакты</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover" ng-click="showLoggedForm()">Вход</div>
        </div>
    </div>
    
    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide"><img src="content/1.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="content/2.jpg" alt="2" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>
            <!--
            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>-->
        </div>
    </div>
    
    <div style="text-align: center;font-size: 26pt;margin-top: 20px;margin-bottom: 40px;"><b>Наши проекты</b></div>
    
    <div id="welcome-blocks" class="flex column">
        <div class="welcome-block-row flex row space-around">
            <div class="flex center column"><img src="content/1_1.jpg"><div class="welcome-block-text"><i>Электронное портфолио обучающегося</i></div></div>
            <div class="flex center column"><img src="content/1_2.jpg"><div class="welcome-block-text"><i>Терапия зрения в виртуальной реальности</i></div></div>
            <div class="flex center column"><img src="content/1_3.jpg"><div class="welcome-block-text"><i>Киберкостюм с обратной связью</i></div></div>
        </div>
        <div class="welcome-block-row flex row space-around">
            <div class="flex center column"><img src="content/1_4.jpg"><div class="welcome-block-text"><i>Управление событиями на основе геолокации</i></div></div>
            <div class="flex center column"><img src="content/1_5.jpg"><div class="welcome-block-text"><i>Предиктивный игровой искусственный интеллект</i></div></div>
            <div class="flex center column"><img src="content/1_6.jpg"><div class="welcome-block-text"><i>Распознование знаков дактильной азбуки</i></div></div>
        </div>
    </div>
    
    <div style="text-align: center;font-size: 26pt;margin-top: 20px;margin-bottom: 40px;"><b>Наши услуги</b></div>
    
    <div style="width:100%;">
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>КОМПЛЕКСНАЯ РАЗРАБОТКА ИНФОРМАЦИОННЫХ СИСТЕМ</b></div>
                <div>Разработка программных комплексов, инструментальных средств и прикладных программ</div>
            </div>
            <div>
                <div><b>ВНЕДРЕНИЕ И СОПРОВОЖДЕНИЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Техническая поддержка при переходе на новое программное обеспечение</div>
            </div>
            <div>
                <div><b>РЕИНЖИРИНГ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Создание новой функциональности или устранение ошибок на основе уже имеющегося в эксплуатации программного обеспечения</div>
            </div>
        </div>
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>ТЕСТИРОВАНИЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Комплексное исследование и полный цикл испытаний программных продуктов</div>
            </div>
            <div>
                <div><b>МОДИФИКАЦИЯ И НАСТРОЙКА ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Расширение функциональных возможностей , модификация программного кода и бизнес-логики, заложенных в основу приложений</div>
            </div>
            <div>
                <div><b>РАЗРАБОТКА ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ДЛЯ РАБОТЫ С БАЗАМИ ДАННЫХ</b></div>
                <div>Анализ и статистическая обработка данных по времени, групповым или физическим адресам, экспорт данных</div>
            </div>
        </div>
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>ИНТЕГРАЦИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Информационная подержка процесса обмена данными между различными системами с возможностью постобработки</div>
            </div>
            <div>
                <div><b>РАЗРАБОТКА МОБИЛЬНЫХ ПРИЛОЖЕНИЙ И СЕРВИСОВ</b></div>
                <div>Создание приложений под операционные системы iOS и Android</div>
            </div>
            <div>
                <div><b>СИСТЕМНЫЙ АНАЛИЗ, КОНСУЛЬТИРОВАНИЕ, ТЕХНИЧЕСКИЙ ПЕРЕВОД И ЛОКАЛИЗАЦИЯ</b></div>
                <div>Оказание услуг по выбору программного обеспечения , переводу на основные иностранные языки</div>
            </div>
        </div>
        
    </div>
    
    <div id="welcome-press-and-video">
        <div id="welcome-press"></div>
        <div id="welcome-video">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/UIUBdq4YqdY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    
</div>
