<div class="flex column center">
    
    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide"><img src="content/1.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="content/2.jpg" alt="2" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>
            <!--
            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>-->
        </div>
    </div>
    
    <div class="welcome-label"><b>Наши проекты</b></div>
    
    <div id="welcome-blocks" class="flex column">
        <div class="welcome-block-row flex row space-around">
            <div class="flex center column"><img src="content/1_1.jpg"><div class="welcome-block-text"><i>Электронное портфолио обучающегося</i></div></div>
            <div class="flex center column"><img src="content/1_2.jpg"><div class="welcome-block-text"><i>Терапия зрения в виртуальной реальности</i></div></div>
            <div class="flex center column"><img src="content/1_3.jpg"><div class="welcome-block-text"><i>Киберкостюм с обратной связью</i></div></div>
        </div>
        <div class="welcome-block-row flex row space-around">
            <div class="flex center column"><img src="content/1_4.jpg"><div class="welcome-block-text"><i>Управление событиями на основе геолокации</i></div></div>
            <div class="flex center column"><img src="content/1_5.jpg"><div class="welcome-block-text"><i>Предиктивный игровой искусственный интеллект</i></div></div>
            <div class="flex center column"><img src="content/1_6.jpg"><div class="welcome-block-text"><i>Распознование знаков дактильной азбуки</i></div></div>
        </div>
    </div>
    
    <div class="welcome-label"><b>Наши услуги</b></div>
    
    <div style="width:100%;">
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>КОМПЛЕКСНАЯ РАЗРАБОТКА ИНФОРМАЦИОННЫХ СИСТЕМ</b></div>
                <div>Разработка программных комплексов, инструментальных средств и прикладных программ</div>
            </div>
            <div>
                <div><b>ВНЕДРЕНИЕ И СОПРОВОЖДЕНИЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Техническая поддержка при переходе на новое программное обеспечение</div>
            </div>
            <div>
                <div><b>РЕИНЖИРИНГ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Создание новой функциональности или устранение ошибок на основе уже имеющегося в эксплуатации программного обеспечения</div>
            </div>
        </div>
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>ТЕСТИРОВАНИЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Комплексное исследование и полный цикл испытаний программных продуктов</div>
            </div>
            <div>
                <div><b>МОДИФИКАЦИЯ И НАСТРОЙКА ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Расширение функциональных возможностей , модификация программного кода и бизнес-логики, заложенных в основу приложений</div>
            </div>
            <div>
                <div><b>РАЗРАБОТКА ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ДЛЯ РАБОТЫ С БАЗАМИ ДАННЫХ</b></div>
                <div>Анализ и статистическая обработка данных по времени, групповым или физическим адресам, экспорт данных</div>
            </div>
        </div>
        
        <div class="flex row welcome-block-services">
            <div>
                <div><b>ИНТЕГРАЦИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ</b></div>
                <div>Информационная подержка процесса обмена данными между различными системами с возможностью постобработки</div>
            </div>
            <div>
                <div><b>РАЗРАБОТКА МОБИЛЬНЫХ ПРИЛОЖЕНИЙ И СЕРВИСОВ</b></div>
                <div>Создание приложений под операционные системы iOS и Android</div>
            </div>
            <div>
                <div><b>СИСТЕМНЫЙ АНАЛИЗ, КОНСУЛЬТИРОВАНИЕ, ТЕХНИЧЕСКИЙ ПЕРЕВОД И ЛОКАЛИЗАЦИЯ</b></div>
                <div>Оказание услуг по выбору программного обеспечения , переводу на основные иностранные языки</div>
            </div>
        </div>
        
    </div>
    
    <div id="welcome-press-and-video">
        <div id="welcome-press" class="flex column center space-around">
            <div><a href="https://ria.ru/society/20180810/1526358741.html"><img src="content/news1.png"></a></div>
            <div><a href="http://nn-news.net/other/2018/04/09/222018.html"><img src="content/news2.png"></a></div>
            <div><a href="http://www.vremyan.ru/news/ambliopiju_i_kosoglazie_smogut_lechit_v_nizhnem_novgorode_s_pomocshju_VR-tehnologij.html"><img src="content/news3.gif"></a></div>
        </div>
        <div id="welcome-video">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/UIUBdq4YqdY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="welcome-label"><b>Повышение квалификации</b></div>
    
    <div id="welcome-forms" class="flex row">
        
        <div>
            <div style="color: #0070c0;"><b>ПРОЕКТИРОВАНИЕ ИНФОРМАЦИОННЫХ СИСТЕМ</b></div>
            <div>Курс повышения квалификации (48 ч.)</div>
        </div>
        
        <div class="welcome-form flex row">
            <hr noshade>           
            <div class="flex column space-around" style="position:relative;">
                <div style="position: absolute;font-size: 26pt;color:#0070c0;background-color: #ffffff;top:-23px;padding-right: 30px;">Подать заявку</div>
                <input type="text">
                <input type="password">
                <div><button class="button">Отправить</button></div>
            </div>           
        </div>
        
        <div class="welcome-form flex row">
            <hr noshade>
            <div class="flex column space-around" style="position:relative;">
                <div style="position: absolute;font-size: 26pt;color:#0070c0;background-color: #ffffff;top:-23px;padding-right: 30px;">Вход на сайт</div>
                <input type="text">
                <input type="password">
                <div><button class="button">Вход</button></div>
            </div>
        </div>
        
    </div>
    
</div>
