<div class="flex column center">
    
    <div class="menu-block flex row space-between">
        <div class="flex column center cross-center hover">
            <div class="hover">Главная</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Наши проекты</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Наши услуги</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Команда</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Стажировка</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Обучение</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover">Контакты</div>
        </div>
        <div class="flex column center cross-center hover">
            <div class="hover" ng-click="showLoggedForm()">Вход</div>
        </div>
    </div>
    
    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide"><img src="https://hsto.org/files/8d4/b19/80d/8d4b1980d48c418090e2c4466d8c06e1.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/ef1/3d7/97e/ef13d797e4c642c7a1d4b2b91f7ad7b3.jpg" alt="2" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/ec5/592/f1e/ec5592f1e814401eb38305682a8e88d4.jpg" alt="3" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/eda/61a/3c5/eda61a3c53db408d820643998d9acd81.jpg" alt="4" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
    </div>
    
</div>
